



{% extends "layout.html" %}

{% block title %}{{ post[0]["title"] }}{% endblock %}

{% block badges %}{{ badges["badges"] }}{% endblock %}


{% block main %}

        <div class="row justify-content-center pt-5">
            <div class="col-md-8">

                    <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="#">{{ post[0]["username"] }}</a>
                          <small class="text-muted">{{ post.0.date }}</small>
                          {% if post.0.author == session["user_id"] %}
                              <div>
                                  <a class="btn btn-primary btn-sm m-1" href="/post/{{ post.0.id }}/update">Update</a>
                                  <button type="button" class="btn btn-sm btn-danger m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                              </div>
                          {% endif %}
                        </div>
                        <h3 class="article-title">{{ post.0.title }}</h3>
                        <p class="article-content">{{ post.0.content }}</p>
                      </div>
                    </article>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <a class="btn btn-danger btn-sm m-1" href="/post/{{post.0.id}}/delete">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
        </div>

{% endblock main %}